@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@layer components {
  .button {
    @apply outline-yellow rounded-lg sm:p-5 p-2 sm:mx-10 mx-5 sm:min-w-48 min-w-24 break-words my-3 text-xs sm:text-sm
  }

  .background {
    @apply flex items-center justify-center flex-col min-h-screen
  }

  .leaderboard-list {
    @apply px-3 sm:text-base text-xs text-center break-all
  }

  .no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
}